@import url(./themes.css);
@import url(./shared.css);
@import url(./loader.css);
@import url(../pages/login/login.css);
@import url(../pages/theme-selection/theme-selection.css);
@import url(../pages/game/game.css);

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
		var(--themeBG);

	backdrop-filter: blur(5px);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
}

header {
	padding: 1rem 0;
}

header h1 {
	font-size: 2rem;
	font-family: var(--themeTitleFont);
	color: var(--themeTitleColor);
	user-select: none;
	text-align: center;
	/* flex-shrink: -1; */
}

header h1 span {
	font-size: 1.2rem;
}

section[id$="-page"] {
	width: 100%;
	flex-grow: 1;
	position: relative;
}
