#game-page {
	display: flex;
	overflow: hidden;
	padding: 10px;
}

#info {
	overflow: hidden;
	padding: 10px 10px 0;
	display: flex;
	flex-direction: column;
	min-width: fit-content;
	align-items: stretch;
}

#welcoming-message {
	font-size: 1.5rem;
}

#info button#start-btn {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	z-index: 4;
}

#info #timer {
	background-color: blue;
	color: white;
	padding: 10px;
	border: none;
	outline: solid 3px transparent;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	text-align: center;
	transition: background-color 1s;
}

#info #timer.danger {
	background-color: #ce1616;
}

#theme-images {
	overflow: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: white;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#theme-images div {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 1.4rem;
}

#theme-images img {
	width: 100px;
	border-radius: 5px;
}

#board-container {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
}

#board {
	/* width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	overflow: auto;
	padding: 0 10px; */

	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
	padding: 0 10px;
	max-height: 100%;
	aspect-ratio: 1;
	margin: auto;
}

.cell {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px;
	font-size: 30px;
	text-align: center;
	aspect-ratio: 1;
	border-radius: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cell.row-4 {
	width: calc(100% / 4);
}

.cell.row-9 {
	width: calc(100% / 9);
}
.cell.selected {
	border-color: #473232;
	border-width: 3px;
}
